@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.myGlassBg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);
  width: 100wh;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(9px);
}
.myliForDropDown:hover .myDivDrop {
  display: block;
}
.myliForDropDown:active .myDivDrop {
  display: block;
}
.myZImg {
  position: absolute;
  z-index: -5;
}
.myBorderColor:focus{
  border-color: rgb(163 230 53);
}

.snow-bg {
  position: relative;
}

.snow-bg:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  opacity: 85%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("https://library.elementor.com/resources/christmas-snow-effect/s1.png"),
    url("https://library.elementor.com/resources/christmas-snow-effect/s2.png"),
    url("https://library.elementor.com/resources/christmas-snow-effect/s3.png");
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

.myImg {
  animation-name: myImg;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes myImg {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.myDarkBtnMoveUp {
  animation-name: myDarkBtnMoveUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes myDarkBtnMoveUp {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0px);
  }
}
.myDarkBtnMoveDown {
  animation-name: myDarkBtnMoveDown;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes myDarkBtnMoveDown {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(26px);
  }
}

/* 'background-image: url("/static/media/01.22de4da0428b035e9d2b.jpg");' */

.bgTop {
  background-image: url("https://hously-react.vercel.app/static/media/01.22de4da0428b035e9d2b.jpg");
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    100% 96%,
    59% 100%,
    40% 100%,
    0 96%,
    0% 30%
  );
}

.bg-hex {
  background-color: blue;
  clip-path: polygon(25% 0%, 76% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* ESDP */
/* font */
.header{
    @apply capitalize font-medium xxs:text-2xl xs:text-3xl md:text-4xl text-white mt-10
}
.header-2{
    @apply capitalize font-bold xxs:text-2xl xs:text-3xl md:text-4xl text-black mt-10 text-center
}
.h1{
    @apply font-medium text-2xl sm:text-3xl;
}
.h2{
    @apply font-medium sm:text-lg;
}
.font{
    @apply text-lg font-medium capitalize;
}
.font-2{
  @apply text-lg capitalize;
}
.sub-header{
    @apply text-2xl md:text-3xl font-semibold mb-6;
}
.sub-header-2{
    @apply text-xl font-medium;
}
.paragraph{
    @apply xs:text-[16px] md:text-lg max-w-xl text-center text-slate-400 px-1 sm:px-0
}
.paragraph-2{
    @apply xs:text-[16px] md:text-lg text-slate-400 px-1 sm:px-0
}
.paragraph-3{
  @apply xs:text-[16px] md:text-lg
}
.paragraph-4{
  @apply xs:text-[16px] md:text-lg max-w-xl text-center text-green-600 px-1 sm:px-0 font-medium
}

  /* bg-color n bg-img */
  .hero-img {
    @apply bg-buy-img bg-no-repeat bg-center bg-cover w-full h-[378px] relative;
  }
  .bg-dark-opacity {
    @apply absolute bg-[#161C2D] opacity-80 inset-0;
  }

  /* btn */
  .btn {
    @apply bg-green-600 hover:bg-green-700 rounded-md text-white text-sm md:text-lg font-medium;
  }
  .btn-2 {
    @apply px-4 py-2 text-black text-sm md:text-lg font-medium w-full;
  }
  .btn-3 {
    @apply hover:bg-green-600 rounded-md text-green-600 hover:text-white text-sm md:text-lg font-medium border border-green-600;
  }
  .active {
    @apply bg-green-600 rounded text-white;
  }

/* bg-color n bg-img */
/* .hero-img{
    @apply bg-buy-img bg-no-repeat bg-center bg-cover w-full h-[378px] relative
}
.bg-dark-opacity{
    @apply absolute bg-[#161C2D] opacity-80 inset-0;
} */

  /* icon */
  .icon-color {
    @apply text-green-500 text-2xl;
  }

  /* hover */
  .card-hover {
    @apply hover:shadow-xl duration-500 ease-in-out;
  }

/* btn */
/* .btn{
    @apply bg-green-600 hover:bg-green-700 rounded-md text-white text-sm md:text-lg font-medium;
}
.btn-2{
    @apply px-4 py-2 text-black text-sm md:text-lg font-medium w-full;
}
.btn-3{
    @apply hover:bg-green-600 rounded-md text-green-600 hover:text-white text-sm md:text-lg font-medium border border-green-600;

}
.active{
    @apply bg-green-600 rounded text-white
} */



/* layout */
.container-2xl{
    @apply w-full md:max-w-3xl lg:max-w-screen-2xl px-3 md:px-4 lg:px-52 mx-auto;
}
.grid-layout-1{
    @apply grid grid-cols-1 gap-8;
}
.grid-layout-2{
    @apply grid grid-cols-1 md:grid-cols-12 gap-7;
}
.grid-layout-3{
    @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-7;
}
.flex-between-center{
    @apply flex flex-wrap justify-between items-center;
}
.flex-center-center{
    @apply flex flex-wrap justify-center items-center;
}
.center-h-v{
    @apply top-0 bottom-0 left-0 right-0 flex flex-wrap justify-center items-center;
}



/* icon */
/* .icon-color{
    @apply text-green-500 text-2xl;
} */



/* hover */
/* .card-hover{
    @apply hover:shadow-xl duration-500 ease-in-out;
} */



/* form input box */
.form-box{
    @apply w-full py-2 px-3 ps-10 text-sm md:text-lg
}
.form-box-2{
    @apply w-full py-2 px-3 text-sm md:text-lg border border-gray-200 bg-white rounded overflow-hidden;
}
.form-box-3{
  @apply w-full py-2 px-3 text-sm md:text-lg mt-2
}


/* dark theme */
.card-dark{
  @apply dark:bg-slate-900 dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700
}
.normal-dark{
  @apply dark:bg-slate-900 dark:shadow-gray-700
}


/* nav */
.nav_color{
  @apply border-[#e5e7eb] shadow-md
}
/* .nav_list{
  @apply container-fluid w-full myGlassBg dark:bg-[#0F262E] fixed top-0 px-30  py-4 h-[70px]  flex justify-between md:justify-evenly items-center z-50
} */


/* custom shape */
.custom-shape-divider-bottom {
  @apply absolute top-[390px] left-0 w-full overflow-hidden z-0;
}

.custom-shape-divider-bottom svg {
  @apply relative block w-[calc(300%+1.3px)] h-[80px];
}

/* .custom-shape-divider-bottom .shape-fill {
  fill: #0F262E;
}
 */

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom {
      top: 420px;
  }
  .custom-shape-divider-bottom svg {
    width: calc(300% + 1.3px);
    height: 50px;
  }
}

@media (max-width: 768px) {
  .custom-shape-divider-bottom {
      top: 420px;
  }
  .custom-shape-divider-bottom svg {
    width: calc(300% + 1.3px);
    height: 30px;
  }
}